{% extends 'base.html' %}

{% block content %}
    
    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid maiores quo assumenda natus autem tempore distinctio consequatur labore quas possimus reprehenderit sed nobis necessitatibus quasi officia delectus illo incidunt ut, nesciunt qui enim fuga blanditiis. Aut quaerat eum est nihil distinctio fuga et reprehenderit, dicta nam similique labore adipisci vitae, excepturi, beatae sapiente impedit. Fuga ex nobis quidem voluptatum eveniet doloribus id pariatur necessitatibus nulla eos dolorum harum aperiam quasi saepe culpa dolor, vel animi amet, molestias dignissimos quas quod ipsum quibusdam perferendis? Blanditiis praesentium, aspernatur quas provident repellat vel ratione! Perferendis, molestias recusandae suscipit doloribus at aliquam doloremque repellat!</p>

{% endblock %}